.card {
  width: calc(33% - 12px);
  flex-direction: column;
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-family: "Expletus Sans", cursive;
  .card-info {
    width: calc(100% - 32px);
    .card-name {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2px;
      line-height: 1;
      flex-wrap: wrap;
      .icon-margin {
        margin: 0 4px;
      }
    }
  }
  &:hover {
    cursor: pointer;
    background-color: rgb(0 0 0 / 0.16);
    backdrop-filter: blur(2px);
  }
}

@media screen and (max-width: 899px) {
  .card {
    width: calc(50% - 16px);
  }
}

@media screen and (max-width: 499px) {
  .card {
    width: 100%;
  }
}
