<div class="cards flex-center">
  <div class="card info-card expand">
    <div class="info-card-title pad-32">Adventure Ranks</div>
    <div class="info-card-data pad-32 text-center">
      <div *ngFor="let rank of ranks" class="chart-flex">
        <div class="cost-item">{{ rank.name }}</div>
        <div class="cost-item">
          <img class="material" [src]="rankIcon" alt="" loading="lazy" />
          <div>{{ rank.exp }}</div>
        </div>
        <div class="cost-item" *ngFor="let material of rank.reward">
          <!-- <img
            class="material"
            [src]="materialImage(material)"
            alt=""
            loading="lazy"
          /> -->
          <div>{{ material.name }}</div>
          <div>{{ material.count }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
