.card {
  // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .card-name {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 1;
  }
  .weapon-image {
    border: 2px solid;
    border-radius: 8px;
    background: rgb(0 0 0 / 25%);
  }
  &:hover {
    cursor: pointer;
    background-color: rgb(0 0 0 / 0.16);
    backdrop-filter: blur(2px);
  }
}
