<div class="pad-32">
  <div class="header card flex text-center">
    <div class="flex-1">Element</div>
    <div class="flex-1">Greek Name</div>
    <div class="flex-1">English Name</div>
    <div class="flex-1">Nation</div>
    <div class="flex-1">Archon</div>
    <div class="fix-width">Based On</div>
  </div>
  <div *ngFor="let element of elements" class="card flex text-center" [style.color]="element.color">
    <div class="flex-1">
      <img [src]="element.images.base64" alt="">
    </div>
    <div class="flex-1">{{element.name}}</div>
    <div class="flex-1">{{element.type}}</div>
    <div class="flex-1">{{element.region}}</div>
    <div class="flex-1">{{element.archon}}</div>
    <div class="fix-width">{{element.theme}}</div>
  </div>
</div>