<div class="cards padding flex-center">
  <div class="card info-card">
    <div class="info-card-title">{{ data.name }}</div>
    <div class="info-card-data padding">
      <ul>
        <li>Domain Type: {{ data.domaintype }}</li>
        <li>Entrance: {{ data.domainentrance }}</li>
        <li *ngIf="data.daysofweek">
          Available on:
          <ul>
            <li *ngFor="let day of data.daysofweek">{{ day }}</li>
          </ul>
        </li>
        <li>Region: {{ data.region }}</li>
        <li>Unlocked at Level: {{ data.unlockrank }}</li>
        <li>Recommended Level: {{ data.recommendedlevel }}</li>
        <li>
          Recommended Characters:
          <img
            *ngFor="let element of data.recommendedelements"
            [src]="vision(element)"
            alt=""
          />
        </li>
      </ul>
    </div>
  </div>

  <div class="card info-card">
    <div class="info-card-title">Image</div>
    <div class="image-container">
      <img
        class="domain-image"
        [src]="image(data.images.namepic)"
        alt=""
        loading="lazy"
      />
    </div>
  </div>

  <div class="card info-card">
    <div class="info-card-title">Description</div>
    <div class="info-card-data padding">{{ data.description }}</div>
  </div>

  <div class="card info-card">
    <div class="info-card-title">Disorder</div>
    <div class="info-card-data padding">
      <ul>
        <li *ngFor="let order of data.disorder">{{ order }}</li>
      </ul>
    </div>
  </div>

  <div
    class="card info-card expand"
    *ngIf="data.monsterlist && data.monsterlist.length"
  >
    <div class="info-card-title">Enemies</div>
    <div class="info-card-data padding flex-stretch enemies text-center">
      <div
        class="flex-column enemy cursor"
        (click)="viewEnemy(enemy)"
        *ngFor="let enemy of data.monsterlist"
      >
        <img
          class="fit-image"
          [src]="enemyImage(enemy)"
          alt=""
          loading="lazy"
        />
        <div>{{ enemy }}</div>
      </div>
    </div>
  </div>

  <div
    class="card info-card expand"
    *ngIf="data.rewardpreview && data.rewardpreview.length"
  >
    <div class="info-card-title">Rewards</div>
    <div class="info-card-data padding flex-stretch rewards text-center">
      <div class="flex-column reward" *ngFor="let reward of data.rewardpreview">
        <img
          class="fit-image"
          [src]="materialImage(reward.name)"
          alt=""
          loading="lazy"
        />
        <div>{{ reward.name }}</div>
        <div *ngIf="reward.rarity">{{ starRank(reward.rarity) }}</div>
      </div>
    </div>
  </div>
</div>
