<div class="container full-width">
  <mat-toolbar class="nav flex-justify">
    <button mat-icon-button (click)="back()">
      <mat-icon>keyboard_backspace</mat-icon>
    </button>
    <div class="logo cursor" (click)="drawer.close()" routerLink="/">
      <img class="fit-image" src="/assets/logo.png" alt="" />
    </div>
    <div class="flex-center">
      <button mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
      <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container [hasBackdrop]="isMobile">
    <mat-sidenav #drawer position="start" [mode]="isMobile ? 'over' : 'side'">
      <div
        class="menu"
        *ngFor="let route of routes"
        (click)="navigate(route); drawer.close()"
      >
        {{ route | titlecase }}
      </div>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
