<div class="cards padding padding flex-center">
  <div class="card info-card">
    <div class="info-card-title">{{ data.name }}</div>
    <div class="info-card-data padding">
      <ul>
        <li>Special Name: {{ data.specialname }}</li>
        <li>Category: {{ data.category }}</li>
        <li>Enemy Type: {{ data.type | titlecase }}</li>
      </ul>
    </div>
  </div>

  <div class="card info-card">
    <div class="info-card-title">Image</div>
    <div class="image-container flex-center">
      <img
        class="domain-image"
        [src]="image(data.images.nameicon)"
        alt=""
        loading="lazy"
      />
    </div>
  </div>

  <div class="card info-card expand">
    <div class="info-card-title">Description</div>
    <div class="info-card-data padding">{{ data.description }}</div>
  </div>

  <div
    class="card info-card expand"
    *ngIf="data.rewardpreview && data.rewardpreview.length"
  >
    <div class="info-card-title">Rewards</div>
    <div class="info-card-data padding flex-stretch rewards text-center">
      <div class="flex-column reward" *ngFor="let reward of data.rewardpreview">
        <img
          class="fit-image"
          [src]="materialImage(reward.name)"
          alt=""
          loading="lazy"
        />
        <div>{{ reward.name }}</div>
        <div *ngIf="reward.rarity">{{ starRank(reward.rarity) }}</div>
      </div>
    </div>
  </div>
</div>
