<div class="splash flex">
  <div class="flex-3 pad-32">
    <div class="title" [style.color]="color">{{ data.name }}</div>
    <img [src]="rarity(data.rarity)" alt="" />
  </div>
  <div class="flex-1 image-container">
    <img class="fit-image" [src]="image(data.images.namegacha)" alt="" />
  </div>
</div>

<div class="cards flex-center">
  <div class="card info-card">
    <div class="info-card-title pad-32">Weapon</div>
    <div class="info-card-data pad-32">
      <ul>
        <li>Base Attack: {{ data.baseatk }}</li>
        <li>
          Star Rank:
          <span class="nav-link" [style.color]="color">
            {{ data.rarity }} {{ starRank(data.rarity) }}
          </span>
        </li>
        <li>
          Primary Attribute:
          <span class="nav-link" [style.color]="color">{{ data.substat }}</span>
        </li>
        <li>
          Primary Attribute Base Value:
          {{ data.subvalue }}
        </li>
        <li>
          Weapon:
          <span class="nav-link" [style.color]="color">{{
            data.weapontype
          }}</span>
        </li>
        <li>Weapon Material: {{ data.weaponmaterialtype }}</li>
        <li *ngIf="data.url && data.url.fandom">
          <a
            class="nav-link"
            [href]="data.url.fandom"
            target="_blank"
            [style.color]="color"
          >
            Know More about {{ data.name }} <mat-icon>open_in_new</mat-icon></a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="card info-card">
    <div class="info-card-title pad-32">Description</div>
    <div class="info-card-data pad-32">{{ data.description }}</div>
  </div>

  <div class="card info-card expand">
    <div class="info-card-title pad-32">Story</div>
    <div class="info-card-data pad-32">{{ data.story }}</div>
  </div>

  <div class="card info-card expand">
    <div class="info-card-title pad-32">{{ data.effectname }}</div>
    <div class="info-card-data pad-32" [innerHTML]="setEffectValue()"></div>
  </div>

  <div class="card info-card">
    <div class="info-card-title pad-32">Ascension Cost</div>
    <div class="info-card-data pad-32 text-center">
      <div *ngFor="let entry of iterableObject(data.costs)" class="chart-flex">
        <div class="cost-item">
          <img class="material" [src]="image(data.images.nameicon)" alt="" />
          <div>Ascension {{ entry[0] | slice : 6 }}</div>
        </div>
        <div
          class="cost-item cursor"
          (click)="viewMaterial(material.name)"
          *ngFor="let material of entry[1]"
        >
          <img class="material" [src]="materialImage(material.name)" alt="" />
          <div>{{ material.count }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card info-card">
    <div class="info-card-title pad-32">Weapon Stats</div>
    <div class="info-card-data pad-32 text-center">
      <div class="flex">
        <div class="stat-value">Level</div>
        <div class="stat-value">Ascension</div>
        <div class="stat-value">Attack</div>
        <div class="stat-value">{{ data.substat }}</div>
      </div>
      <div class="flex" *ngFor="let stat of stats">
        <div class="stat-value">{{ stat.level }}</div>
        <div class="stat-value">{{ stat.ascension }}</div>
        <div class="stat-value">{{ stat.attack | number : "1.0-0" }}</div>
        <div class="stat-value">
          {{
            data.substat == "Elemental Mastery"
              ? (stat.specialized | number : "1.0-0")
              : (stat.specialized | percent)
          }}
        </div>
      </div>
    </div>
  </div>
</div>
