n
<div class="cards padding flex-center">
  <div *ngFor="let area of areas" class="card info-card expand">
    <div class="info-card-title">{{ area.name }}</div>
    <div class="info-card-data padding flex">
      <div class="flex-3">
        <ul>
          <li>Area: {{ area.area }}</li>
          <li>Region: {{ area.region }}</li>
          <li>Description: {{ area.description }}</li>
        </ul>
      </div>
      <div class="flex-1 image-container">
        <img class="fit-image" [src]="thumb(area)" alt="" loading="lazy" />
      </div>
    </div>
  </div>
</div>
