<div class="cards padding flex-center">
  <div class="card info-card expand">
    <div class="info-card-title">{{ data.name }}</div>
    <div class="info-card-data padding flex">
      <div class="flex-2">
        <ul>
          <li>Category: {{ data.category | titlecase }}</li>
          <li *ngIf="data.rarity">
            Quality: {{ data.rarity }} {{ starRank(data.rarity) }}
          </li>
          <li>Type: {{ data.materialtype }}</li>
          <li *ngIf="data.dropdomain">Domain: {{ data.dropdomain }}</li>
          <li *ngIf="data.daysofweek">
            Available on:
            <ul>
              <li *ngFor="let day of data.daysofweek">{{ day }}</li>
            </ul>
          </li>
          <li *ngIf="data.source.length">
            Source:
            <ul>
              <li *ngFor="let source of data.source">{{ source }}</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="flex-1 image-container flex-center">
        <img class="adjust-image" [src]="thumb(data)" alt="" loading="lazy" />
      </div>
    </div>
  </div>

  <div class="card info-card expand">
    <div class="info-card-title">Description</div>
    <div class="info-card-data padding">{{ data.description }}</div>
  </div>
</div>
