<div class="character-splash">
  <div class="title padding text-end" [style.color]="color">
    {{ character.name | uppercase }}
  </div>
  <div class="image-container">
    <img
      class="fit-image"
      [src]="image(character.images.namegachasplash!)"
      alt=""
    />
  </div>
</div>

<div class="cards padding padding flex-center">
  <div class="card info-card">
    <div class="info-card-title">Character</div>
    <div class="info-card-data padding">
      <ul>
        <li>Title: {{ character.title }}</li>
        <li>
          Star Rank:
          <span class="nav-link" [style.color]="color">
            {{ character.rarity }} {{ starRank(character.rarity) }}
          </span>
        </li>
        <li>
          Vision:
          <span class="nav-link" [style.color]="color">{{
            character.element
          }}</span>
        </li>
        <li>
          Weapon:
          <span class="nav-link" [style.color]="color">{{
            character.weapontype
          }}</span>
        </li>
        <li>
          Primary Attribute:
          <span class="nav-link" [style.color]="color">{{
            character.substat
          }}</span>
        </li>
        <li>
          Origin:
          <span class="nav-link" [style.color]="color">
            {{ character.region }}</span
          >
        </li>
        <li>Affiliation: {{ character.affiliation }}</li>
        <li>Constellation: {{ character.constellation }}</li>
        <li *ngIf="character.url && character.url.fandom">
          <a
            class="nav-link"
            [href]="character.url.fandom"
            target="_blank"
            [style.color]="color"
          >
            Know More about {{ character.fullname }}
            <mat-icon>open_in_new</mat-icon></a
          >
        </li>
      </ul>
    </div>
  </div>

  <div class="card info-card">
    <div class="info-card-title">Information</div>
    <div class="info-card-data padding">
      <ul>
        <li>
          Gender: {{ character.gender }}
          {{ character.gender == "Male" ? "♂" : "♀" }}
        </li>
        <li>Body Type: {{ character.body }}</li>
        <li>Birthday: {{ character.birthday }}</li>
        <li>Debut in: Version {{ character.version }}</li>
        <li>English Voice: {{ character.cv.english }}</li>
        <li>Chinese Voice: {{ character.cv.chinese }}</li>
        <li>Japanese Voice: {{ character.cv.japanese }}</li>
        <li>Korean Voice: {{ character.cv.korean }}</li>
      </ul>
    </div>
  </div>

  <div class="card info-card expand">
    <div class="info-card-title">Description</div>
    <div class="info-card-data padding">{{ character.description }}</div>
  </div>

  <div class="card info-card">
    <div class="info-card-title">{{ character.constellation }}</div>
    <div class="info-card-data padding">
      <div class="card-skill flex">
        <div class="image-container">
          <img [src]="constellation.images.c1" alt="" />
        </div>
        <div>
          <div class="card-skill-title" [style.color]="color">
            {{ constellation.c1.name }}
          </div>
          <div [innerHTML]="findStrong(constellation.c1.effect)"></div>
        </div>
      </div>
      <hr class="card-line" />
      <div class="card-skill flex">
        <div class="image-container">
          <img [src]="constellation.images.c2" alt="" />
        </div>
        <div>
          <div class="card-skill-title" [style.color]="color">
            {{ constellation.c2.name }}
          </div>
          <div [innerHTML]="findStrong(constellation.c2.effect)"></div>
        </div>
      </div>
      <hr class="card-line" />
      <div class="card-skill flex">
        <div class="image-container">
          <img [src]="constellation.images.c3" alt="" />
        </div>
        <div>
          <div class="card-skill-title" [style.color]="color">
            {{ constellation.c3.name }}
          </div>
          <div [innerHTML]="findStrong(constellation.c3.effect)"></div>
        </div>
      </div>
      <hr class="card-line" />
      <div class="card-skill flex">
        <div class="image-container">
          <img [src]="constellation.images.c4" alt="" />
        </div>
        <div>
          <div class="card-skill-title" [style.color]="color">
            {{ constellation.c4.name }}
          </div>
          <div [innerHTML]="findStrong(constellation.c4.effect)"></div>
        </div>
      </div>
      <hr class="card-line" />
      <div class="card-skill flex">
        <div class="image-container">
          <img [src]="constellation.images.c5" alt="" />
        </div>
        <div>
          <div class="card-skill-title" [style.color]="color">
            {{ constellation.c5.name }}
          </div>
          <div [innerHTML]="findStrong(constellation.c5.effect)"></div>
        </div>
      </div>
      <hr class="card-line" />
      <div class="card-skill flex">
        <div class="image-container">
          <img [src]="constellation.images.c6" alt="" />
        </div>
        <div>
          <div class="card-skill-title" [style.color]="color">
            {{ constellation.c6.name }}
          </div>
          <div [innerHTML]="findStrong(constellation.c6.effect)"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card info-card">
    <div class="info-card-title">Portrait</div>
    <div class="info-card-data image-container">
      <img class="fit-image" [src]="character.images.cover2!" alt="" />
    </div>
  </div>

  <div class="card info-card expand">
    <div class="info-card-title">Combat Skills</div>
    <div class="info-card-data padding">
      <div class="card-skill flex">
        <div class="image-container">
          <img [src]="image(talent.images!.combat1)" alt="" />
        </div>
        <div>
          <div class="card-skill-title" [style.color]="color">
            {{ talent.combat1.name }}
          </div>
          <div [innerHTML]="findStrong(talent.combat1.info)"></div>
        </div>
      </div>
      <hr class="card-line" />
      <div class="card-skill flex">
        <div class="image-container">
          <img [src]="image(talent.images!.combat2)" alt="" />
        </div>
        <div>
          <div class="card-skill-title" [style.color]="color">
            {{ talent.combat2.name }}
          </div>
          <div [innerHTML]="findStrong(talent.combat2.info)"></div>
          <div>
            <i>{{ talent.combat2.description }}</i>
          </div>
        </div>
      </div>
      <hr class="card-line" />
      <div class="card-skill flex">
        <div class="image-container">
          <img [src]="image(talent.images!.combat3)" alt="" />
        </div>
        <div>
          <div class="card-skill-title" [style.color]="color">
            {{ talent.combat3.name }}
          </div>
          <div [innerHTML]="findStrong(talent.combat3.info)"></div>
          <div>
            <i>{{ talent.combat3.description }}</i>
          </div>
        </div>
      </div>
      <div *ngIf="talent.combatsp">
        <hr class="card-line" />
        <div class="card-skill flex">
          <div class="image-container">
            <img [src]="image(talent.images!.combatsp!)" alt="" />
          </div>
          <div>
            <div class="card-skill-title" [style.color]="color">
              {{ talent.combatsp.name }}
            </div>
            <div [innerHTML]="findStrong(talent.combatsp.info)"></div>
            <div>
              <i>{{ talent.combatsp.description }}</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card info-card expand">
    <div class="info-card-title">Passive Skills</div>
    <div class="info-card-data padding">
      <div class="card-skill flex">
        <div class="image-container">
          <img [src]="image(talent.images!.passive1)" alt="" />
        </div>
        <div>
          <div class="card-skill-title" [style.color]="color">
            {{ talent.passive1.name }}
          </div>
          <div [innerHTML]="findStrong(talent.passive1.info)"></div>
        </div>
      </div>
      <hr class="card-line" />
      <div class="card-skill flex">
        <div class="image-container">
          <img [src]="image(talent.images!.passive2)" alt="" />
        </div>
        <div>
          <div class="card-skill-title" [style.color]="color">
            {{ talent.passive2.name }}
          </div>
          <div [innerHTML]="findStrong(talent.passive2.info)"></div>
        </div>
      </div>
      <hr class="card-line" />
      <div class="card-skill flex">
        <div class="image-container">
          <img [src]="image(talent.images!.passive3!)" alt="" />
        </div>
        <div>
          <div class="card-skill-title" [style.color]="color">
            {{ talent.passive3!.name }}
          </div>
          <div [innerHTML]="findStrong(talent.passive3!.info)"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="card info-card">
    <div class="info-card-title">Talent Cost</div>
    <div class="info-card-data padding text-center">
      <div
        class="chart-flex"
        *ngFor="let entry of iterableObject(talent.costs)"
      >
        <div class="cost-item">
          <img
            class="material"
            [src]="image(character.images.namesideicon)"
            alt=""
          />
          <div>Level {{ entry[0] | slice : 3 }}</div>
        </div>
        <div
          class="cost-item cursor"
          (click)="viewMaterial(material.name)"
          *ngFor="let material of entry[1]"
        >
          <img class="material" [src]="materialImage(material.name)" alt="" />
          <div>{{ material.count }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card info-card">
    <div class="info-card-title">Ascension Cost</div>
    <div class="info-card-data padding text-center">
      <div
        *ngFor="let entry of iterableObject(character.costs)"
        class="chart-flex"
      >
        <div class="cost-item">
          <img
            class="material"
            [src]="image(character.images.namesideicon)"
            alt=""
          />
          <div>Ascension {{ entry[0] | slice : 6 }}</div>
        </div>
        <div
          class="cost-item cursor"
          (click)="viewMaterial(material.name)"
          *ngFor="let material of entry[1]"
        >
          <img class="material" [src]="materialImage(material.name)" alt="" />
          <div>{{ material.count }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="card info-card expand">
    <div class="info-card-title">Character Stats</div>
    <div class="info-card-data flex">
      <div class="flex-1 image-container">
        <img class="fit-image" [src]="character.images.cover1!" alt="" />
      </div>
      <div class="flex-1 stats-value text-center">
        <div class="flex">
          <div class="stat-value">Level</div>
          <div class="stat-value">Ascension</div>
          <div class="stat-value">HP</div>
          <div class="stat-value">Attack</div>
          <div class="stat-value">Defense</div>
          <div class="stat-value">{{ character.substat }}</div>
        </div>
        <div class="flex" *ngFor="let stat of stats">
          <div class="stat-value">{{ stat.level }}</div>
          <div class="stat-value">{{ stat.ascension }}</div>
          <div class="stat-value">{{ stat.hp | number : "1.0-0" }}</div>
          <div class="stat-value">{{ stat.attack | number : "1.0-0" }}</div>
          <div class="stat-value">{{ stat.defense | number : "1.0-0" }}</div>
          <div class="stat-value">
            {{
              character.substat == "Elemental Mastery"
                ? (stat.specialized | number : "1.0-0")
                : (stat.specialized | percent)
            }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
