<div class="container pad-32">
  <!-- COVER -->
  <div class="cover seemless-bottom">
    <animated-title
      class="text-center"
      [text]="character.name"
    ></animated-title>
    <img
      *ngIf="character.images.namegachasplash"
      class="image"
      [src]="getImage(character.images.namegachasplash)"
      alt=""
    />
  </div>

  <!-- PROFILE -->
  <div class="cover flex margin-hr">
    <div class="flex-3 pad-32">
      <div class="key">
        Full Name
        <span [style.color]="color">{{ character.fullname }}.</span>
      </div>
      <div class="key">
        Holds Title of
        <span [style.color]="color">{{ character.title }}.</span>
      </div>
      <div class="key">
        <span [style.color]="color">{{ character.description }}</span>
      </div>
      <div class="key" (click)="filter(character.rarity)">
        Rarity
        <span>
          <img
            [src]="getLocalImage('rarity', character.rarity, 'png')"
            alt=""
            loading="lazy"
          />
        </span>
        <span class="link">see more</span>
      </div>
      <div class="key" (click)="filter(character.element)">
        Vision
        <span [style.color]="color">
          {{ character.element }}
          <img
            class="icon"
            [src]="getLocalImage('vision', character.element, 'svg')"
            alt=""
            loading="lazy"
          />
        </span>
        <span class="link">see more</span>
      </div>
      <div class="key" (click)="filter(character.weapontype)">
        Weilds
        <span [style.color]="color">
          {{ character.weapontype }}
          <img
            class="icon"
            [src]="getLocalImage('weapons', character.weapontype, 'png')"
            alt=""
            loading="lazy"
          />
        </span>
        <span class="link">see more</span>
      </div>
      <div class="key" (click)="filter(character.substat)">
        Substat
        <span [style.color]="color">{{ character.substat }}</span>
        <span class="link">see more</span>
      </div>
      <div class="key" (click)="filter(character.gender)">
        Gender
        <span [style.color]="color">{{ character.gender }}</span>
        <span class="link">see more</span>
      </div>
      <div class="key" (click)="filter(character.region)">
        Nation
        <span [style.color]="color">{{ character.region }}</span>
        <span class="link">see more</span>
      </div>
      <div class="key">
        Association
        <span [style.color]="color">{{ character.association }}</span>
      </div>
      <div class="key">
        Affiliated to
        <span [style.color]="color">{{ character.affiliation }}</span>
      </div>
      <div class="key">
        Born on
        <span [style.color]="color">{{ character.birthday }}</span>
      </div>
      <div class="key">
        Blessed under the stars of
        <span [style.color]="color">
          {{ character.constellation }}
        </span>
      </div>
      <div class="key">
        Debut in version
        <span [style.color]="color">{{ character.version }}.</span>
      </div>
      <div class="key">Voiced By:</div>
      <div class="key flex-justify" [style.color]="color">
        <span class="flex" *ngFor="let va of character.cv | keyvalue">
          <img
            class="icon"
            [src]="getLocalImage('flags', va.key, 'svg')"
            alt=""
            loading="lazy"
          />
          {{ va.value }}
        </span>
      </div>
    </div>
    <div class="flex-2">
      <img
        class="image"
        [src]="character.images.cover2"
        alt=""
        loading="lazy"
      />
    </div>
  </div>

  <!-- CONSTELLATIONS -->
  <div class="cover pad-32 margin-hr">
    <animated-title class="text-center" text="constellations"></animated-title>
    <div class="flex-justify cards" [style.color]="color">
      <div class="card pad-16 margin-16">
        <img [src]="constellation.images.c1" alt="" />
        <div class="name">{{ constellation.c1.name }}</div>
        <div class="effect">{{ constellation.c1.effect }}</div>
      </div>
      <div class="card pad-16 margin-16">
        <img [src]="constellation.images.c2" alt="" />
        <div class="name">{{ constellation.c2.name }}</div>
        <div class="effect">{{ constellation.c2.effect }}</div>
      </div>
      <div class="card pad-16 margin-16">
        <img [src]="constellation.images.c3" alt="" />
        <div class="name">{{ constellation.c3.name }}</div>
        <div class="effect">{{ constellation.c3.effect }}</div>
      </div>
      <div class="card pad-16 margin-16">
        <img [src]="constellation.images.c4" alt="" />
        <div class="name">{{ constellation.c4.name }}</div>
        <div class="effect">{{ constellation.c4.effect }}</div>
      </div>
      <div class="card pad-16 margin-16">
        <img [src]="constellation.images.c5" alt="" />
        <div class="name">{{ constellation.c5.name }}</div>
        <div class="effect">{{ constellation.c5.effect }}</div>
      </div>
      <div class="card pad-16 margin-16">
        <img [src]="constellation.images.c6" alt="" />
        <div class="name">{{ constellation.c6.name }}</div>
        <div class="effect">{{ constellation.c6.effect }}</div>
      </div>
    </div>
  </div>

  <!-- TALENTS -->
  <div class="cover pad-32 margin-hr">
    <animated-title class="text-center" text="Talents"></animated-title>
    <div class="flex-justify cards" [style.color]="color" *ngIf="talent.images">
      <div class="card pad-16 margin-16">
        <img [src]="getImage(talent.images.combat1)" alt="" />
        <div class="name">{{ talent.combat1.name }}</div>
        <div class="effect">{{ talent.combat1.info }}</div>
      </div>
      <div class="card pad-16 margin-16">
        <img [src]="getImage(talent.images.combat2)" alt="" />
        <div class="name">{{ talent.combat2.name }}</div>
        <div class="effect">{{ talent.combat2.info }}</div>
        <!-- <div>{{ talent.combat2.description }}</div> -->
      </div>
      <div class="card pad-16 margin-16">
        <img [src]="getImage(talent.images.combat3)" alt="" />
        <div class="name">{{ talent.combat3.name }}</div>
        <div class="effect">{{ talent.combat3.info }}</div>
        <!-- <div>{{ talent.combat3.description }}</div> -->
      </div>
      <div
        class="card pad-16 margin-16"
        *ngIf="talent.combatsp && talent.images.combatsp"
      >
        <img [src]="getImage(talent.images.combatsp)" alt="" />
        <div class="name">{{ talent.combatsp.name }}</div>
        <div class="effect">{{ talent.combatsp.info }}</div>
      </div>

      <div class="card pad-16 margin-16">
        <img [src]="getImage(talent.images.passive1)" alt="" />
        <div class="name">{{ talent.passive1.name }}</div>
        <div class="effect">{{ talent.passive1.info }}</div>
      </div>
      <div class="card pad-16 margin-16">
        <img [src]="getImage(talent.images.passive2)" alt="" />
        <div class="name">{{ talent.passive2.name }}</div>
        <div class="effect">{{ talent.passive2.info }}</div>
      </div>
      <div
        class="card pad-16 margin-16"
        *ngIf="talent.passive3 && talent.images.passive3"
      >
        <img [src]="getImage(talent.images.passive3)" alt="" />
        <div class="name">{{ talent.passive3.name }}</div>
        <div class="effect">{{ talent.passive3.info }}</div>
      </div>
      <div class="card pad-16 margin-16" *ngIf="talent.passive4">
        <div class="name">{{ talent.passive4.name }}</div>
        <div class="effect">{{ talent.passive4.info }}</div>
      </div>
    </div>
  </div>

  <!-- ASCENSION COSTS -->
  <div class="cover pad-32 margin-hr">
    <animated-title class="text-center" text="Ascension Costs"></animated-title>
    <div class="chart" [style.color]="color">
      <div
        class="chart-row flex"
        *ngFor="let entry of iterableObject(character.costs)"
      >
        <div class="chart-item">Ascension {{ entry[0] | slice : 6 }}:</div>
        <div class="chart-item flex-center" *ngFor="let material of entry[1]">
          <div class="count">{{ material.count }}</div>
          <img class="material" [src]="materialImage(material.name)" alt="" />
        </div>
      </div>
    </div>
  </div>

  <!-- TALENT COSTS -->
  <div class="cover pad-32 margin-hr">
    <animated-title class="text-center" text="talent costs"></animated-title>
    <div class="chart" [style.color]="color">
      <div
        class="chart-row flex"
        *ngFor="let entry of iterableObject(talent.costs)"
      >
        <div class="chart-item">Level {{ entry[0] | slice : 3 }}:</div>
        <div class="chart-item flex-center" *ngFor="let material of entry[1]">
          <div class="count">{{ material.count }}</div>
          <img class="material" [src]="materialImage(material.name)" alt="" />
        </div>
      </div>
    </div>
  </div>

  <!-- STATS CALCULATOR -->
  <div class="cover">
    <animated-title
      class="text-center pad-32"
      text="level stats"
    ></animated-title>
    <div class="chart pad-32">
      <mat-slider
        max="90"
        min="1"
        step="1"
        thumbLabel="true"
        tickInterval="1"
        color="primary"
        class="level-slide"
        (change)="levelStats($event.value)"
      >
        <input matSliderThumb />
      </mat-slider>
      <div class="stats flex-justify chart-row">
        <div class="chart-item">Level: {{ stats.level }}</div>
        <div class="chart-item">HP: {{ stats.hp | number : "1.0-0" }}</div>
        <div class="chart-item">
          Attack: {{ stats.attack | number : "1.0-0" }}
        </div>
        <div class="chart-item">
          Defense: {{ stats.defense | number : "1.0-0" }}
        </div>
        <div class="chart-item">
          {{ character.substat }}: {{ stats.specialized | percent }}
        </div>
      </div>
    </div>
    <img class="image" [src]="character.images.cover1" alt="" loading="lazy" />
  </div>
</div>
