@mixin animation {
  @for $i from 1 through 16 {
    &:nth-child(#{$i}) {
      animation: animateIn 2000ms ease #{$i * 400}ms forwards;
      -webkit-animation: animateIn 2000ms ease #{$i * 400}ms forwards;
    }
  }
}

.container {
  .cover {
    border-radius: 3em;
    box-shadow: rgb(0, 0, 0) 0px 5px 15px;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.2);
    column-gap: 4em;
    .portrait {
      flex: 2;
    }
    .details {
      flex: 3;
      .key {
        margin: 20px;
        font-family: "Lora", serif;
        font-size: 24px;
        line-height: 1.1;
        display: flex;
        align-items: baseline;
        gap: 8px;
        .icon {
          width: 40px;
        }
        span {
          text-transform: uppercase;
          letter-spacing: 1px;
        }
        .link {
          font-size: 12px;
          text-transform: lowercase;
        }
        &:hover,
        &:active {
          .link {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
    .cards {
      align-items: stretch;
      flex-wrap: wrap;
      margin-top: 16px;
      .card {
        width: calc(100% / 3 - 72px);
        border: 4px solid;
        border-radius: 24px;
        font-family: "Plus Jakarta Sans", sans-serif;
        line-height: 1.5;
        img {
          display: flex;
          margin: auto;
        }
        .name {
          text-transform: uppercase;
          text-align: center;
          font-size: 1.5rem;
        }
        .effect {
          color: #dfdfdf;
          font-size: 1.2rem;
        }
      }
    }
    .chart {
      margin: 32px auto 0;
      width: 80%;
      border: 4px solid;
      border-radius: 24px;
      .chart-row {
        font-family: "Lora", serif;
        font-size: 20px;
        line-height: 1.1;
        color: #f4f4f4;
        text-align: center;
        .chart-item {
          width: calc(100% / 6);
          .material {
            max-width: 40%;
          }
        }
      }
    }
  }
  .seemless-bottom {
    padding: 32px 32px 0;
  }
}
.image {
  max-width: 100%;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
